___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright Pierian Data</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Exercises
Time to test your new pandas skills! Use the <tt>population_by_county.csv</tt> file in the Data folder to complete the tasks in bold below!

<div class="alert alert-info" style="margin: 10px"><strong>NOTE:</strong> ALL TASKS CAN BE DONE IN ONE LINE OF PANDAS CODE. GET STUCK? NO PROBLEM! CHECK OUT THE SOLUTIONS LECTURE!</div>

<div class="alert alert-danger" style="margin: 10px"><strong>IMPORTANT NOTE!</strong> Make sure you don't run the cells directly above the example output shown, <br>otherwise you will end up writing over the example output!</div>

#### 1. Import pandas and read in the <tt>population_by_county.csv</tt> file into a dataframe called <tt>pop</tt>.

In [3]:
import os
os.listdir('Data')

['airline_passengers.csv',
 'Alcohol_Sales.csv',
 'BeerWineLiquor.csv',
 'co2_mm_mlo.csv',
 'DailyTotalFemaleBirths.csv',
 'danube_river_discharge.csv',
 'EnergyProduction.csv',
 'Food_Products_Value.csv',
 'HospitalityEmployees.csv',
 'M2SLMoneyStock.csv',
 'macrodata.csv',
 'MaunaLoaDailyTemps.csv',
 'Miles_Traveled.csv',
 'monthly_milk_production.csv',
 'MtWashingtonDailyTemps.csv',
 'PCEPersonalSpending.csv',
 'population_by_county.csv',
 'population_by_state.csv',
 'PriceIndexCatFood.csv',
 'PriceIndexDogFood.csv',
 'price_of_ground_chuck.csv',
 'PublishingEmployees.csv',
 'RestaurantVisitors.csv',
 'Retail_Sales_Beer_Liquor.csv',
 'rhine_river_discharge.csv',
 'RideAustin.csv',
 'samples.csv',
 'starbucks.csv',
 'TradeInventories.csv',
 'UMTMVS.csv',
 'uspopulation.csv']

In [5]:
import pandas as pd

df = pd.read_csv('Data/population_by_county.csv')
df

                County           State  2010Census  2017PopEstimate
0     Abbeville County  South Carolina       25417            24722
1        Acadia Parish       Louisiana       61773            62590
2      Accomack County        Virginia       33164            32545
3           Ada County           Idaho      392365           456849
4         Adair County            Iowa        7682             7054
...                ...             ...         ...              ...
3137       Yuma County         Arizona      195751           207534
3138       Yuma County        Colorado       10043            10075
3139     Zapata County           Texas       14018            14322
3140     Zavala County           Texas       11677            11948
3141    Ziebach County    South Dakota        2801             2756

[3142 rows x 4 columns]

#### 2. Show the head of the dataframe

In [6]:
# CODE HERE

df.head()

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

In [3]:
# DON'T WRITE HERE

             County           State  2010Census  2017PopEstimate
0  Abbeville County  South Carolina       25417            24722
1     Acadia Parish       Louisiana       61773            62590
2   Accomack County        Virginia       33164            32545
3        Ada County           Idaho      392365           456849
4      Adair County            Iowa        7682             7054

#### 3. What are the column names?

In [7]:
df.columns

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

In [4]:
# DON'T WRITE HERE

Index(['County', 'State', '2010Census', '2017PopEstimate'], dtype='object')

<strong>4. How many States are represented in this data set?</strong> <em>Note: the data includes the District of Columbia</em>

In [10]:
df['State'].nunique()

51

In [5]:
# DON'T WRITE HERE

51

#### 5. Get a list or array of all the states in the data set.

In [79]:
df['State'].unique()

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

In [6]:
# DON'T WRITE HERE

array(['South Carolina', 'Louisiana', 'Virginia', 'Idaho', 'Iowa',
       'Kentucky', 'Missouri', 'Oklahoma', 'Colorado', 'Illinois',
       'Indiana', 'Mississippi', 'Nebraska', 'North Dakota', 'Ohio',
       'Pennsylvania', 'Washington', 'Wisconsin', 'Vermont', 'Minnesota',
       'Florida', 'North Carolina', 'California', 'New York', 'Wyoming',
       'Michigan', 'Alaska', 'Maryland', 'Kansas', 'Tennessee', 'Texas',
       'Maine', 'Arizona', 'Georgia', 'Arkansas', 'New Jersey',
       'South Dakota', 'Alabama', 'Oregon', 'West Virginia',
       'Massachusetts', 'Utah', 'Montana', 'New Hampshire', 'New Mexico',
       'Rhode Island', 'Nevada', 'District of Columbia', 'Connecticut',
       'Hawaii', 'Delaware'], dtype=object)

#### 6. What are the five most common County names in the U.S.?

In [13]:
df['County'].value_counts().head(5)

Washington County    30
Jefferson County     25
Franklin County      24
Lincoln County       23
Jackson County       23
Name: County, dtype: int64

In [7]:
# DON'T WRITE HERE

Washington County    30
Jefferson County     25
Franklin County      24
Jackson County       23
Lincoln County       23
Name: County, dtype: int64

#### 7. What are the top 5 most populated Counties according to the 2010 Census?

In [15]:
df.sort_values(by='2010Census', ascending=False).head(5)

                  County       State  2010Census  2017PopEstimate
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685

In [8]:
# DON'T WRITE HERE

                  County       State  2010Census  2017PopEstimate
1713  Los Angeles County  California     9818605         10163507
628          Cook County    Illinois     5194675          5211263
1209       Harris County       Texas     4092459          4652980
1784     Maricopa County     Arizona     3817117          4307033
2501    San Diego County  California     3095313          3337685

#### 8. What are the top 5 most populated States according to the 2010 Census?

In [43]:
df.groupby('State').sum().sort_values(by='2010Census', ascending=False).head(5)

            2010Census  2017PopEstimate
State
California    37253956         39536653
Texas         25145561         28304596
New York      19378102         19849399
Florida       18801310         20984400
Illinois      12830632         12802023

In [9]:
# DON'T WRITE HERE

            2010Census  2017PopEstimate
State
California    37253956         39536653
Texas         25145561         28304596
New York      19378102         19849399
Florida       18801310         20984400
Illinois      12830632         12802023

#### 9. How many Counties have 2010 populations greater than 1 million?

In [27]:
df[(df['2010Census']>=1000000)]['County'].count()

39

In [80]:
len(df[(df['2010Census']>=1000000)])

39

In [82]:
sum(df['2010Census']>=1000000)

39

In [10]:
# DON'T WRITE HERE

39

#### 10. How many Counties don't have the word "County" in their name?

In [55]:
df[~df['County'].str.contains('County')].shape[0]

135

In [83]:
def check_county(name):
    return 'County' not in name

df['County'].apply(check_county).sum()

135

In [84]:
myser = df['County'].apply(lambda name: 'County' not in name)
myser.value_counts()

False    3007
True      135
Name: County, dtype: int64

In [11]:
# DON'T WRITE HERE

135

#### 11. Add a column that calculates the percent change between the 2010 Census and the 2017 Population Estimate

In [88]:
# CODE HERE

pop = df.copy()
pop['PercentChange'] =  100*(pop['2017PopEstimate']- pop['2010Census'])/pop['2010Census']

# USE THIS TO SHOW THE RESULT
pop.head()

,County,State,2010Census,2017PopEstimate,PercentChange
0,Abbeville County,South Carolina,25417,24722,-2.734390
1,Acadia Parish,Louisiana,61773,62590,1.322584
2,Accomack County,Virginia,33164,32545,-1.866482
3,Ada County,Idaho,392365,456849,16.434697
4,Adair County,Iowa,7682,7054,-8.174954

In [12]:
# DON'T WRITE HERE

,County,State,2010Census,2017PopEstimate,PercentChange
0,Abbeville County,South Carolina,25417,24722,-2.734390
1,Acadia Parish,Louisiana,61773,62590,1.322584
2,Accomack County,Virginia,33164,32545,-1.866482
3,Ada County,Idaho,392365,456849,16.434697
4,Adair County,Iowa,7682,7054,-8.174954

<strong>Bonus: What States have the highest estimated percent change between the 2010 Census and the 2017 Population Estimate?</strong><br>This will take several lines of code, as it requires a recalculation of PercentChange.

- 2010 인구 조사와 2017년 인구 추정치 사이에 가장 높은 예상 퍼센트 변화율이 있는 주는?

In [92]:
# CODE HERE
# 첫번째로 주에 groupby 적용, 각 카운티에 대한 인구 열의 합계 구함, 모든 카운티를 합산해서 주별로 집계
states = pop.groupby('State').sum()
states

                      2010Census  2017PopEstimate  PercentChange
State
Alabama                  4779736          4874747     -90.104665
Alaska                    710231           739795      79.918865
Arizona                  6392017          7016270      61.091253
Arkansas                 2915918          3004279    -157.120655
California              37253956         39536653     171.318587
Colorado                 5029196          5607154     276.003951
Connecticut              3574097          3588184      -6.306999
Delaware                  897934           961939      27.192859
District of Columbia      601723           693972      15.330808
Florida                 18801310         20984400     511.173992
Georgia                  9687653         10429379     253.477434
Hawaii                   1360301          1427538      24.697324
Idaho                    1567582          1716943     131.246387
Illinois                12830632         12802023    -342.549294
Indiana                  6483802          6666818       9.627461
Iowa                     3046355          3145711    -123.916843
Kansas                   2853118          2913123    -314.245877
Kentucky                 4339367          4454189     -16.991862
Louisiana                4533372          4684333       5.617474
Maine                    1328361          1335907     -11.986641
Maryland                 5773552          6052177      61.820362
Massachusetts            6547629          6859819      50.253589
Michigan                 9883640          9962311     -88.318582
Minnesota                5303925          5576606      23.984215
Mississippi              2967297          2984100    -202.448241
Missouri                 5988927          6113532     -95.700507
Montana                   989415          1050493     121.568195
Nebraska                 1826341          1920076    -138.659568
Nevada                   2700551          2998039      24.691529
New Hampshire            1316470          1342795       7.003199
New Jersey               8791894          9005644      17.006799
New Mexico               2059179          2088070     -78.433347
New York                19378102         19849399     -78.778361
North Carolina           9535483         10273419     221.903768
North Dakota              672591           755393     308.640607
Ohio                    11536504         11658609     -54.867098
Oklahoma                 3751351          3930864       3.860638
Oregon                   3831074          4142776     151.366592
Pennsylvania            12702379         12805537     -95.758663
Rhode Island             1052567          1059639      -1.630958
South Carolina           4625364          5024369     105.281744
South Dakota              814180           869666     107.905241
Tennessee                6346105          6715984     246.721205
Texas                   25145561         28304596     955.535377
Utah                     2763885          3101833     216.823276
Vermont                   625741           623657     -12.529791
Virginia                 8001024          8470020     216.452138
Washington               6724540          7405743     243.405927
West Virginia            1852994          1815857    -176.749259
Wisconsin                5686986          5795483       8.253743
Wyoming                   563626           579315      20.144261

In [93]:
# 두번째로 퍼센트 변화율의 열 다시 계산(주당 합꼐 변화율의 총합을 기준으로 함)
states['PercentChange'] = 100 * (states['2017PopEstimate']-states['2010Census'])/states['2010Census']
states

                      2010Census  2017PopEstimate  PercentChange
State
Alabama                  4779736          4874747       1.987788
Alaska                    710231           739795       4.162589
Arizona                  6392017          7016270       9.766135
Arkansas                 2915918          3004279       3.030298
California              37253956         39536653       6.127395
Colorado                 5029196          5607154      11.492056
Connecticut              3574097          3588184       0.394142
Delaware                  897934           961939       7.128029
District of Columbia      601723           693972      15.330808
Florida                 18801310         20984400      11.611372
Georgia                  9687653         10429379       7.656406
Hawaii                   1360301          1427538       4.942803
Idaho                    1567582          1716943       9.528114
Illinois                12830632         12802023      -0.222974
Indiana                  6483802          6666818       2.822665
Iowa                     3046355          3145711       3.261471
Kansas                   2853118          2913123       2.103138
Kentucky                 4339367          4454189       2.646054
Louisiana                4533372          4684333       3.329994
Maine                    1328361          1335907       0.568068
Maryland                 5773552          6052177       4.825885
Massachusetts            6547629          6859819       4.767985
Michigan                 9883640          9962311       0.795972
Minnesota                5303925          5576606       5.141117
Mississippi              2967297          2984100       0.566273
Missouri                 5988927          6113532       2.080590
Montana                   989415          1050493       6.173143
Nebraska                 1826341          1920076       5.132393
Nevada                   2700551          2998039      11.015826
New Hampshire            1316470          1342795       1.999666
New Jersey               8791894          9005644       2.431217
New Mexico               2059179          2088070       1.403035
New York                19378102         19849399       2.432111
North Carolina           9535483         10273419       7.738842
North Dakota              672591           755393      12.310899
Ohio                    11536504         11658609       1.058423
Oklahoma                 3751351          3930864       4.785289
Oregon                   3831074          4142776       8.136152
Pennsylvania            12702379         12805537       0.812116
Rhode Island             1052567          1059639       0.671881
South Carolina           4625364          5024369       8.626456
South Dakota              814180           869666       6.814955
Tennessee                6346105          6715984       5.828441
Texas                   25145561         28304596      12.562993
Utah                     2763885          3101833      12.227282
Vermont                   625741           623657      -0.333045
Virginia                 8001024          8470020       5.861700
Washington               6724540          7405743      10.130106
West Virginia            1852994          1815857      -2.004162
Wisconsin                5686986          5795483       1.907812
Wyoming                   563626           579315       2.783583

In [94]:
# 세번째로 새 퍼센트 변화율의 열로 값을 정렬함 
states.sort_values(by='PercentChange', ascending=False).head()

                      2010Census  2017PopEstimate  PercentChange
State
District of Columbia      601723           693972      15.330808
Texas                   25145561         28304596      12.562993
North Dakota              672591           755393      12.310899
Utah                     2763885          3101833      12.227282
Florida                 18801310         20984400      11.611372

In [13]:
# DON'T WRITE HERE

                      2010Census  2017PopEstimate  PercentChange
State
District of Columbia      601723           693972      15.330808
Texas                   25145561         28304596      12.562993
North Dakota              672591           755393      12.310899
Utah                     2763885          3101833      12.227282
Florida                 18801310         20984400      11.611372

# GREAT JOB!